In [14]:
import pandas as pd
import numpy as np
from rdkit import Chem

mols=[mol for mol in Chem.SDMolSupplier('./data/structure_creation3/ChemCupid_Namiki.sdf') if mol is not None]
# mols_salicylic = [mol for mol in Chem.SDMolSupplier('./data/structure_creation3/ChemCupid_Namiki_like_salicylic_acid.sdf') if mol is not None]

In [16]:
smiles = [Chem.MolToSmiles(mol) for mol in mols]

In [17]:
df = pd.DataFrame({'SMILES':smiles})

In [18]:
df.to_csv('./data/structure_creation3/smiles.csv')

In [19]:
df

                                    SMILES
0                          O=C(O)c1ccccc1O
1                        N.O=C(O)c1ccccc1O
2                       O=C(O)c1c(O)cccc1O
3                       Cc1cccc(C(=O)O)c1O
4                  O.O=C(O)c1c(O)cc(O)cc1O
..                                     ...
86                               NC1CCCCC1
87                            Cl.NC1CCCCC1
88  CNC[C@H](O)[C@@H](O)[C@H](O)[C@H](O)CO
89                      C1N2CN3CN1CN(C2)C3
90                     CCCCCCCCCCCCCCCCCCN

[91 rows x 1 columns]